header{
    overflow: visible;
}
header a:hover{
    background-color: #2D3538 !important;
}
header ul{
    position: relative;
    list-style: none;
    z-index: 2;
}
header ul div{
    display: block;
    position: absolute;
    left: 0px;
    min-width: 120px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s linear;
    background-color: #151c1f;
    margin-top: 10px;
}
header ul div li > a{
    width: 100%;
}
header ul:hover{
    background-color: #2D3538 !important;
}
header ul:hover div{
    max-height: 500px;
    text-align: left;
    
}